@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
@import "./_library.scss";

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  background: var(--linear-grad1);
}

.details {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  padding: 100px 200px 100px 200px;
}

.landing-picture {
  flex-basis: 40%;
}

.description {
  height: auto;
  border: 1px solid turquoise;
}

.description__header h1 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: var(--neutral);
  &:nth-child(1) {
    font-weight: 300;
    color: var(--red-desat);
  }
}

.description__main p {
  color: var(--red-desat);
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.description__main input {
  position: block;
  border: 1px solid var(--input);
  border-radius: 3rem;
  height: 3rem;
  width: 100%;
  padding-left: 2rem;
  outline: none;
  &::placeholder {
    color: var(--input);
  }
}
.description__main button {
  background: var(--linear-grad2);
  color: var(--white);
  // position: absolute;
  height: 3rem;
  width: 6rem;
  right: 2rem;
  margin-right: 3rem;
  border: 1px solid hsl(0, 80%, 86%);
  border-radius: 3rem;
}