@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
@import "./_library.scss";

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  background: var(--linear-gradient1);
}

.details {
  display: flex;
  flex-direction: column;
  padding: 100px 200px 100px 200px;
}

.description {
  height: auto;
}

.description__header h1 {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: var(--neutral);

  &:nth-child(1) {
    font-weight: 300;
    color: var(--red-desat);
  }
}

.description__main p {
  color: var(--red-desat);
  line-height: 32px;
}
.description__main input {
  position: relative;
  border: 1px solid hsl(0, 80%, 86%);
  border-radius: 3rem;
  height: 3rem;
  width: 100%;
  padding-left: 1rem;
}
.description__main button {
  position: relative;
  height: 3rem;
  width: 20%;
  right: 2rem;
  border: 1px solid hsl(0, 80%, 86%);
  border-radius: 3rem;
  background: var(--linear-grad2);
  color: var(--white);
}
  
.landing-picture {
  width: 40%;
}