@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
@import "./_library.scss";

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 1440px;
  background: var(--linear-grad1);
  @include respond-to("xl") {
    width: auto !important;
  }
  @include respond-to("medium") {
    flex-direction: column !important;
    align-items: center !important;
    height: 100vh !important;
  }
  @include respond-to("mobile") {
    width: 100% !important;
    height: 800px !important;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  padding: 5% 15% 10% 15%;
  background: url("../images/bg-pattern-desktop.svg");
  @include respond-to("medium") {
    padding: 10% !important;
    padding-top: 100px !important;
    width: 100% !important;
    height: 100vh !important;
  }
  @include respond-to("mobile") {
    background: none !important;
    padding: 0 !important;
  }
}

.logo {
  @include respond-to('mobile') {
    padding: 2rem 0 2rem 2rem !important;
    img {
      width: 100px !important;
    }
  }
}

.landing-picture {
  img {
    max-height: 100vh !important;
  }
}

.landing-picture__desktop {
  @include respond-to("medium") {
    display: none !important;
  }
}

.landing-picture__mobile {
  display: none !important;
  @include respond-to("mobile") {
    display: block !important;
    width: 100% !important;
  }
}

.description {
  height: auto;
  @include respond-to("medium") {
    transition: 0.5s !important;
    max-width: 600px !important;
  }
  @include respond-to("mobile") {
    padding: 0 2rem 0 2rem !important; 
    text-align: center !important;
  }
}

.description__header h1 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: var(--neutral);
  &:nth-child(1) {
    font-weight: 300;
    color: var(--red-desat);
  }
  &:nth-child(2),
  &:nth-child(3) {
    margin-top: 10px;
  }
  @include respond-to("mobile") {
    font-size: 2.4rem !important;
    letter-spacing: 0.75rem !important;
    text-align: center !important;
    margin-top: 4rem !important;
    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 0 !important;
    }
  }
}

.description__intro-message {
  color: var(--red-desat);
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include respond-to("mobile") {
    font-size: 0.8rem !important;
    line-height: 1.6rem !important;
  }
}

.description__input-container {
  position: relative;
}

.description__main input[type="email"] {
  color: var(--neutral);
  position: relative;
  border: 1px solid var(--input);
  border-radius: 3rem;
  height: 3.5rem;
  width: 100%;
  padding-left: 2rem;
  outline: none;
  &::placeholder {
    color: var(--input);
  }
  @include respond-to("mobile") {
    font-size: 0.8rem !important;
    height: 3rem !important;
  }
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}

.description__main button[type="submit"] {
  background-color: #ccc;
  background-image: var(--linear-grad2);
  color: var(--white);
  position: absolute;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  height: 3.5rem;
  width: 6rem;
  right: 0.01rem;
  border: 1px solid hsl(0, 80%, 86%);
  border-radius: 3rem;
  font-size: 2rem;
  font-weight: 300;
  box-shadow: 0px 8px 32px -8px var(--red-desat);
  outline: none;
  cursor: pointer;
  transition: box-shadow background-image 0.5s ease-in-out;
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 3.5rem;
    width: 6rem;
    right: 0.5rem;
    border-radius: 3rem;
    background-image: var(--linear-button-grad);
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
    opacity: 0;
    @include respond-to("mobile") {
      top: -0.1rem !important;
      font-size: 0.5rem !important;
      width: 4.5rem !important;
      height: 3.1rem !important;
    }
  }
  &:hover:after {
    opacity: 1;
    box-shadow: 0px 16px 32px -8px rgba(0, 0, 0, 0.25);
    transition: box-shadow opacity 0.5s ease-in-out;
  }
  span {
    font-size: 2rem;
    position: relative;
    z-index: 3;
  }
  @include respond-to("mobile") {
    font-size: 0.5rem !important;
    width: 4.5rem !important;
    height: 3rem !important;
  }
}

.description__validation {
  border: 2px solid red;
}

.description__error {
  display: none;
}

.description__error--active {
  position: absolute;
  right: 27.5%;
  top: 20%;
  animation: jello-vertical 0.5s both;
  @include respond-to("mobile") {
    top: 15% !important;
  }
}

.description__error-message {
  opacity: 0;
  font-size: 0.75rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.description__error-message--active {
  font-size: 0.75rem;
  color: red;
  margin-left: 2rem;
  margin-top: 0.5rem;
  animation: opacity 0.25s both;
  animation-delay: 0.5s;
  @include respond-to("mobile") {
    text-align: left !important;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
